/* Etiqueta */
p {
    color: blue;
    font-size: 30px;
}

/* Clase */
.parrafo {
    color: red;
}

/* ID */
#parrafo {
    color: green;
}

.main-nav {
    margin-top: 10px;
}

.main-nav__item {

}