* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Trucaaaaaazo */
html {
    font-size: 62.5%;
}

/* REM siempre toma referencia al estilo que tenga la etiqueta root o el root del proyecto */
p {
    font-size: 1.6rem;
 }

main div {
    font-size: 1.6rem;
}