* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.article {
    width: 70%;
    min-width: 100px;
    max-width: 600px;
    min-height: 300px;
    max-height: 600px;
    position: relative;
    margin: 10% auto;
    border: .5px solid;
    border-radius: 50px;
    background-color: gray;
}

.title {
    width: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 15px;
    border: 1px solid;
    background-color: red;
    position: relative;
    bottom: 30px;
    border-radius: 30px;
}

.content {
    width: 80%;
    min-width: 100px;
    max-width: 600px;
    margin: 30px auto;
}